@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.logo {
  margin-top: 15px;
  text-decoration: none;
  padding: 30px 20px;
  font-weight: 600;
  font-size: 20px;
  color: #28352f;
}

.hamburger {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.hamburger-img {
  margin-right: 35px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .desk-illustr1,
  .desk-illustr2,
  .desk-illustr3,
  .works-desk,
  .hide1,
  .hamburger-desktop {
    display: none;
  }
}

.open {
  color: #0f27ff;
  font-size: 25px;
}

.close {
  display: none;
  color: white;
  font-size: 20px;
}

.closingIcon {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  margin-top: 5%;
}

.textdecoration {
  text-decoration: none;
}

.hamburger-img {
  padding: 0;
  width: auto;
  z-index: 100;
  background: transparent;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}

.link-desktop {
  box-sizing: border-box;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #F7F7F9;
  backdrop-filter: blur(5px);
  color: #3A4A42;
  list-style: none;
  padding-top: 4rem;
  margin-top: 0;
}

.links-style a {
  padding: 55px 52px;
  color: #3A4A42;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.links-style li {
 margin-bottom: 20px;
}

.list_none {
  list-style: none;
}

.showMenu {
  transform: translateY(0);
}

.hide_y_scroll {
  overflow-y: hidden;
}

.intro {
  background-image: url(/media/header-illsutration-mobile@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  position: relative;
  padding-top: 15px;
}

.categories ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 20px;
  list-style-type: none;
  padding-left: 0;
}

.categories li {
  margin: 0.5rem;
  background-color: #e5e5e5;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
}

.list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 20px;
  list-style-type: none;
  padding-left: 0;
}

.list li {
  margin: 0.5rem;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  color: #36b37e;
}

.socialmedia ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding-top: 110px;
  padding-top: 15px;
  margin-bottom: 50px;
}

.socialmedia ul li {
  text-decoration: none;
}

.intro h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
  margin: 0;
  padding-top: 50px;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.intro h2 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #36b37e;
  margin-top: 5px;
}

.intro p {
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  padding-top: 40px;
  padding-top: 30px;
}

.arrow {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 20px;
}

.works {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #172b4d;
  margin: 0;
  padding-bottom: 40px;
}

.cards {
  display: grid;
  justify-content: center;
  padding: 10px;
  gap: 0.5rem;
  grid-template-columns: 330px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  width: 327px;
  height: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
}

.card-media {
  width: 100%;
}

.sub-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  justify-content: center;
}

.sub-card h2 {
  display: grid;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.see-btn {
  cursor: pointer;
  color: white;
  background-color: #36b37f;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.about {
  width: 100%;
  position: relative;
}

.about h2 {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #172b4d;
  padding-bottom: 10px;
}

.about1 {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrap {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #172b4d;
}

.description {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #42526e;
  padding: 20px 20px;
}

.illustration {
  position: absolute;
  top: 0;
  right: 0;
}

.illustration2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.resume-btn {
  cursor: pointer;
  align-items: center;
  margin-left: 2%;
  width: 159px;
  height: 48px;
  color: white;
  background-color: #36b37f;
  border: 5px solid #36b37f;
  text-align: center;
  border-radius: 5px;
}

.about-frame {
  display: grid;
  justify-content: center;
  padding: 10px;
  grid-template-columns: 330px;
}

.types {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  width: 327px;
  height: 100%;
  background-color: #ebf0ee;
  border: 2px solid #c1c7d0;
  border-radius: 8px;
}

.types h2 {
  color: #344563;
}

.icon {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  padding: 24px 80px;
  width: 120px;
}

.contact-text {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
  padding: 40px 20px;
}

.get-btn {
  display: flex;
  cursor: pointer;
  width: 159px;
  height: 48px;
  color: white;
  background-color: #36b37f;
  border: 5px solid #36b37f;
  border-radius: 5px;
  margin: 10% 25%;
  padding-left: 15%;
  padding-top: 10px;
}

.get-btn:active {
  background-color: #008552;
}

.get-btn:hover {
  background-color: #36b37f;
}

.input1 {
  width: 100%;
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  padding: 15px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #60c095;
  margin-top: 10px;
}

.input1::placeholder {
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  transition: 3s;
}

.input1:hover::placeholder {
  transform: translate(10px, 0);
  color: #172b4d50;
}

.textarea1 {
  width: 100%;
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  padding: 10px 15px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #60c095;
  margin-top: 10px;
}

.textarea1::placeholder {
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  transition: 3s;
}

.textarea1:hover::placeholder {
  transform: translate(10px, 0);
  color: #172b4d50;
}

.contact_section {
  padding: 150px 0 20px 0;
  border-top-left-radius: 100px;
  display: flex;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 5px bottom 10%;
}

.contact_form {
  width: 85%;
  margin: auto;
}

fieldset {
  border: none;
  padding: 20px 50px 20px 20px;
  display: flex;
  flex-direction: column;
}

label {
  padding: 5px 0;
}

.mail {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #42526e;
  padding: 0 30px 40px 20px;
}

.contact-form {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.illustration3 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 140px;
}

.socialmedia-desk ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin-bottom: 10px;
}

.socialmedia-desk ul li {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo,
  .hamburger-img,
  .illustration,
  .illustration2,
  .illustration3,
  .mail,
  .works{
    display: none;
  }

  .works-desk {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #172b4d;
    margin: 0;
    padding-bottom: 40px;
  }

  .hamburger-desktop {
    display: flex;
    justify-content: center;
     height: 50px;
    width: 100%;
    align-items: center;
    background: transparent; 
  } 

  .links-style {
    list-style-type: none;
    text-decoration: none;
    padding: 10px 12px;
  color: #344563;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  }

  .intro {
    background-image: url(/media/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 680px;
    width: 920px;
    height: 114px;
  }

  .intro-desktop {
    padding-top: 80px;
    width: 600px;
  }

  .cards {
    display: grid;
    grid-template-columns: 327px 327px 327px;
    grid-template-rows: 520px;
    column-gap: 24px;
    row-gap: 24px;
    justify-content: center;
    padding-bottom: 88px;
  }

  .about {
    display: grid;
    grid-template-columns: 327px 327px 327px;
    grid-template-rows: 400px 100px;
    column-gap: 24px;
    justify-content: center;
    padding-top: 62px;
  }

  .about1 {
    background-image: url("./media/illustration-about-me-2-desktop.svg"), url("./media/illustration-about\ me-1-desktop@2x.png");
    background-repeat: no-repeat;
    background-position: bottom left, top -50px right;
    background-size: 200px 200px;
  }

  .description {
    width: 620px;
    top: 72px;
  }

  .contact-text {
    width: 363px;
    font-size: 30px;
  }

  form {
    width: 673px;
    height: 330px;
  }

  .desktop-img {
    display: flex;
  }

  .get-btn {
    margin-top: 10px;
    margin-left: 0%;
    padding-left: 5%;
  }

  .desk-illustr1 {
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
  }

  .desk-illustr2 {
    position: absolute;
    top: 100%;
    left: 250px;
    width: 120px;
  }

  .desk-illustr3 {
    position: absolute;
    width: 180px;
    top: 50%;
    right: 0;
  }

  .socialmedia-desk {
    border-top: 3px solid #dfe1e6;
    margin-top: 250px;
  }

  .socialmedia-desk ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding-top: 110px;
    padding-top: 15px;
    margin-bottom: 50px;
  }

  .socialmedia-desk ul li {
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
}
