@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

header{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
padding: 10px 12px;
font-family: 'Inter', sans-serif;
font-weight: 600;
font-size: 25px;
color: #28352F;
}

.hamburger {
margin-top: 20px;
margin-right:10px;
font-size: px;
}

.background {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto; 
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: 600px;
}

.socialmedia ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding-top: 15px;
    margin-bottom: 50px;
    position: relative;
    bottom: 570px;
  }
  
.socialmedia ul li {
    text-decoration: none;
  }
  
  .intro h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color:#172B4D;
    margin:0;
  }

  .intro h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #36B37E;
    margin-top: 5px;   
  }

  .intro p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #172B4D;
    margin: 10;   
  }